# Build products
result*
docker/volumes/
terraform-provider-rgw
bin
test

# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
